*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    box-sizing: border-box;
    margin:0;
    padding:0;
    height:100%;
    width: 100%;
    font-size: 1em;
    line-height: 1.5;
    background-color: #f9fafa;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.page-content {
    position: relative;
    min-height: fit-content;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}
