body {
  padding: 2rem;
}

form {
  display: inline-block;
}

.groupform {
  border: 2px solid black;
  padding: 0.5rem;
  margin: 1rem;
}

label, input {
  margin: 1rem;
}

h1, h2, p {
  padding-left: 1rem;
}

input[type="submit"] {
  padding: 1rem;
  font-size: medium;
}